<h1>Edit collateral</h1>
<%= simple_form_for @collateral do |c| %>
  <%= c.input :title %>
  <%= c.input :link %>
  <%= c.input :content_type, collection: ["Article", "Blog", "Project", "Snippet"], include_blank: true, as: :select %>
  <%= c.button :submit %>
<% end %>

<% @collateral.tags.order(:category, :name).each do |tag| %>
  <span class="badge bg-success">
    <%= link_to "", "/collaterals/#{@collateral[:id]}/tags/#{tag.id}", method: :delete, class:"btn-close btn-sm", type:"button", data: { confirm: "Are you sure?" } %>
    <%= tag.category %>: <%= tag.name %>
  </span>
<% end %>

