<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Type</th>
      <th scope="col">Tags</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @collaterals.each do |collateral|%>
      <tr>
        <th><a href="<%= collateral.link %>"> <%= collateral.title %></a></th>
        <th><%= collateral.content_type %></th>
        <th>
          <% collateral.tags.order(:category, :name).each do |tag| %>
            <%= link_to "#{tag.category}: #{tag.name}", "/search/?search[tag_ids][]=#{tag.id}", method: :get, class:"badge bg-success" %>
          <% end %>
        </th>
        <td>
          <a href="/collaterals/<%= collateral.id %>" class="btn btn-outline-info">Open</a>
          <a href="/collaterals/<%= collateral.id %>/edit" class="btn btn-outline-primary">Edit</a>
          <%= link_to 'Delete', collateral, method: :delete, class:"btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @collaterals %>
