<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag|%>
      <tr>
        <th><%= tag.category %></a></th>
        <th><%= tag.name %></th>
        <td>
          <a href="/tags/<%= tag.id %>" class="btn btn-outline-info">Open</a>
          <a href="/tags/<%= tag.id %>/edit" class="btn btn-outline-primary">Edit</a>
          <%= link_to 'Delete', tag, method: :delete, class:"btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tags %>
